body {
  margin: 1em 0 0 0;
  padding: 0;
  background-image: url("./images/bg.png");
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
}

h1 {
  font-family: 'Signika', sans-serif;
}

h2 {
  font-family: 'Signika', sans-serif;
}

h3 {
  font-family: 'Signika', sans-serif;
}

h4 {
  font-family: 'Signika', sans-serif;
}

h5 {
  font-family: 'Signika', sans-serif;
}

h6 {
  font-family: 'Signika', sans-serif;
}

.center-text {
  text-align: center;
}
